<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Transferir a Terceros</mat-card-title>
    <mat-card-subtitle>Para realizar una transferencia debe buscar al destinatario e ingresar un monto:
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <div fxLayout="row" fxLayoutAlign="space-around center">

      <mat-spinner *ngIf="isLoading" ></mat-spinner>

      <div *ngIf=" addressees.length > 0 && !isLoading " fxLayoutGap="5px">
        <mat-form-field class="field-full-width" appearance="fill">
          <mat-label>Buscar Destinatario:</mat-label>
          <input type="text" matInput [formControl]="addressee" [matAutocomplete]="autoDestinarario">
          <mat-autocomplete #autoDestinarario="matAutocomplete" [displayWith]="displayFn" (optionSelected)=" selectedAddresse = $event.option.value ">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.nombre}}
            </mat-option>
          </mat-autocomplete>
          <mat-hint>Escriba el Nombre del Destinatario</mat-hint>
        </mat-form-field>

        <button mat-mini-fab color="primary" (click)="openDialogNewAddressee()" #tooltip="matTooltip"
          matTooltip="Crear Nuevo Destinatario" matTooltipPosition="right" aria-label="Crear Nuevo Destinatario">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div *ngIf=" addressees.length == 0 && !isLoading" fxLayoutGap="5px">
        <p>Para continuar debe crear un destinatario</p>
        <button
          mat-raised-button
          color="primary"
          (click)="openDialogNewAddressee()"
          aria-label="Crear Nuevo Destinatario">
          <mat-icon>add</mat-icon>
          Crear Nuevo Destinatario
        </button>
      </div>

      <mat-card *ngIf=" !isLoading " fxFlex="40" align="center">
        <mat-card-header>
          <mat-card-title>Información de Destinatario</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <h3 *ngIf=" !addressee.value " [style.margin-top]="'20px'">
            Debes Seleccionar Un Destinatario Para visualizar la Información
          </h3>
          <ul class="addressee-info" *ngIf=" addressee.value && selectedAddresse != undefined ">
            <li><b>Nombre:</b> {{ selectedAddresse.nombre }}</li>
            <li><b>RUT:</b> {{ selectedAddresse.rut }}</li>
            <li><b>Correo:</b> {{ selectedAddresse.correo }}</li>
            <li><b>Banco:</b> {{ selectedAddresse.banco }}</li>
            <li><b>Tipo Cuenta:</b> {{ selectedAddresse.tipo_cuenta }}</li>
            <li><b>N° Cuenta:</b> {{ selectedAddresse.numero_cuenta }}</li>
          </ul>

        </mat-card-content>
      </mat-card>

    </div>

    <div *ngIf=" addressee.value " fxLayout="column" fxLayoutAlign="center center" [style.margin-top]="'40px'">

      <mat-card fxLayoutAlign="center center">
        <mat-card-header>
          <mat-card-title>Ingrese Monto de Transferencia:</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="field-full-width" appearance="fill">
            <mat-label>Monto:</mat-label>
            <input type="text" matInput [formControl]="amount" (keyup)=" transformToCLP() "/>
          </mat-form-field>

        </mat-card-content>
      </mat-card>

    </div>

  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button color="warn">Cancelar</button>
    <button [disabled]=" !isDataValid() " (click)=" generarTransferencia() " mat-stroked-button color="primary">Transferir</button>
  </mat-card-actions>
</mat-card>
