
<mat-toolbar color="primary">

  <span>Mi Banco</span>
  <span class="toolbar-spacer"></span>

  <div fxShow="false" fxShow.gt-sm>

    <a mat-button routerLink="/home" routerLinkActive="menu-active-link" [routerLinkActiveOptions]="{exact:true}">
      <span>Home</span>
    </a>

    <a mat-button routerLink="/transferir" routerLinkActive="menu-active-link" [routerLinkActiveOptions]="{exact:true}">
      <span>Transferir</span>
    </a>

    <a mat-button routerLink="/historial" routerLinkActive="menu-active-link" [routerLinkActiveOptions]="{exact:true}">
      <span>Historial</span>
    </a>

  </div>

</mat-toolbar>

<div class="body-wrapper">
  <router-outlet></router-outlet>
</div>

