<mat-card fxFlex="100">
  <mat-card-header >
    <mat-card-title>Bienvenido a Nuestra Plataforma Bancaria</mat-card-title>
    <mat-card-subtitle>
      Nos encontramos trabajando en nuestra plataforma para entregar el mejor servicio
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-evenly center" [style.margin]="'3em 0 3em 0'">
    <button mat-raised-button color="primary" (click)="openDialogNewAddressee()">Registrar Destinatario</button>
    <button mat-raised-button color="primary" routerLink="/transferir" >Realizar Transferencia</button>
    <button mat-raised-button color="primary" routerLink="/historial" >Ver Historial de Transferencias</button>
  </mat-card-content>

</mat-card>
