<mat-card fxFlex="100">
  <mat-card-header >
    <mat-card-title>Bienvenido a Nuestra Plataforma Bancaria</mat-card-title>
    <mat-card-subtitle>
      Nos encontramos trabajando en nuestra plataforma para entregar el mejor servicio
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content fxLayoutAlign="space-around center" [style.margin]="'5em'">

    <button mat-raised-button color="primary">Registrar Destinatario</button>
    <button mat-raised-button color="primary">Realizar Transferencia</button>
    <button mat-raised-button color="primary">Ver Historial de Transferencias</button>

  </mat-card-content>

</mat-card>
